* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #456;
}

.container {
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
}

.data h1 {
    text-align: center;
    margin: 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    color: #3489db;
}

.images {
    border-radius: 10px;
    width: 350px;
    background-image: url('../assets/img/bmi.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.calculator {
    flex: 1;
}

label {
    display: block;
    margin: 0px 10px;
}

input {
    margin: 10px;
    width: 100%;
    height: 30px;
    border: 1.5px solid #3489db;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: #3489db;
    padding: 10px;
}

button {
    margin: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 64, 255);
    color: white;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(0, 110, 255);
    filter: drop-shadow(1px 1px 4px rgb(0, 110, 255));
}

.bmi {
    margin: 10px;
    border: 2px solid rgba(34, 212, 34, 0.719);
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(34, 212, 34, 0.719);
    color: rgb(181, 36, 36);
    font-weight: 550;
    filter: drop-shadow(1px 1px 10px rgba(34, 212, 34, 0.719));
}

.error {
    margin: 10px;
    color: red;
    animation: blink 1s linear infinite;
    text-align: center;
}

@keyframes blink {
    0% {
        color: red;
    }
    100% {
        color: red;
        transform: scale(1.1);
    }
    0% {
        color: red;
    }
}

.clrData {
    margin: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
    transition: 0.5s;
}

.clrData:hover {
    background-color: brown;
    filter: drop-shadow(1px 1px 3px brown);
}